.resume-window{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #1a1a1a;
    border-radius: 0.5rem;

    embed{
        width: 100%;
        height: 100%;
        border: none;
        display: block;
    }
}