.nav {
  width: 100%;
  height: 2.3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 0.75rem;
  color: white;

  background-color: rgba(158, 158, 158, 0.3);
  backdrop-filter: blur(6px);

  p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 0.85rem;
    cursor: default;
  }

  .left,
  .right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .apple-icon img,
  .nav-icon img {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
  }

  .nav-item {
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}
