* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;

    background-image: url(https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2128&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;

    overflow: hidden;
}

body {
    background-color: black;
}