* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;

    background-image: url(https://media.istockphoto.com/id/2156753630/photo/interior-of-luxury-hallway-in-chic-classic-house.jpg?s=2048x2048&w=is&k=20&c=mgTsC0jbbnxB1CkGq3XW9qq2qIHfrtmwQuztnl-ZrJs=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;

    overflow: hidden;
}

body {
    background-color: black;
}